$font__sans: "Blauth";
$color__primary: #77a22f;
$font-size-name: "font-size-";
$font-sizes: "sm", "reg", "lg", "x-lg", "xx-lg", "xxx-lg", "xxxx-lg";

$color__grey: #606060;
$color__grey--light: #e8e8e8;

$font-size--sm: 0.8518rem;
$font-size--reg: 1rem;
$font-size--lg: 1.174rem;
$font-size--x-lg: 1.3782rem;
$font-size--xx-lg: 1.618rem;
$font-size--xxx-lg: 1.8995rem;
